*.py[cod]
*~
*.swp

# Configuration
build/
configure.log
PX_CONFIG
config.cfg

# Libraries
*.so
*.o
*.orig

__pycache__/
_test*

*.xfa
*.log
examples/*.pdf

.env

tmp*

# Documentation ignores
doc/_*/
